.copy:target {
    display: block;
}
a {
    text-decoration: none;
}
.img {
    border-radius: 0.9em;
    transition: 1s;
}
.img:hover {
    transform: scale(1.4);
}
.vid {
    border-radius: 0.9em;
}
@media (max-width: 992px) {
    .sp {
        display: none;
    }
}
.light-bg {
    background-color: rgb(204, 240, 254);
    background-image: url(/assets/logo/1.png);
}
.dark-bg {
    background-color: #0d0e12;
    background-image: url(/assets/logo/1.png);
}
.col-gray-white {
    color: #c9d1d9;
}
